body {
    background-color: gray;
}

header {
    display: flex;
}

.oneThird {
    width: 33.33%;
}

h1 {
    margin: 1%;
}

nav {
    text-align: end;
}

nav a {
    display: inline-flex;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    text-decoration: none;
    margin: 6% 2% 0 2% ;
}

nav a:hover {
    color: rgb(255, 0, 0);
    font-size: 22px;
}

#heroSection {
    text-align: center;
    margin: 5% 0 5% 0;
}

#heroSection h1, p {
    text-align: center;
    padding: 30px;
}

#projectsSection {
    margin: 5% 0 5% 0;
}

.box {
    background-color: #818181;
    margin: 20px;
    padding: 15px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.box img {
    margin-bottom: 15px;
    width: 256px;
    height: 256px;
    transition: filter 0.3s;
}

.box img:hover {
    filter: brightness(1.2);
}

form {
    background-color: #818181;
    border-radius: 20px;
    margin: 10% 15% 10% 15%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding:3%;
}

.formItems {
    margin: 1% 0 1% 0;
}

footer {
    text-align: center;
}

#errorDisplay, #passEquality {
    color:darkred;
} 